
{% extends "base3.html" %}

{% load static %}

{% block title %} Tags_produit {% endblock %}



{% block masthead %} {% endblock %}

{% block portfolio %}{% endblock %}

{% block about  %}{% endblock %}

{% block contact %}{% endblock %}

{% block numero1 %}

        <br/> <br/>

        <!-- Produit Section-->
        <section class="page-section portfolio" id="produit">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 bg-light">Liste des tags de ce produit</h2>
                <!-- Icon Divider-->

            </div>
                
                
        

        

        <div class="row">
            <div class="col-sm-2" "></div>
                <div class="col-sm-8" ">

                    <div class="container bg-light">
                        {% if tags_produit %}
                        <br/>  
                        <h2 class="text-center">{{ object.name }}</h2>
                        <br/>
                        <ul class="list-group">
                        {% for tag_produit in tags_produit %}
                            <li class="list-group-item"><h3>{{tag_produit |truncatechars:60 }}</h3></li>
                            
                        {% endfor %}
                        </ul>
                        {% else%}
                        <br/>                           
                        <li class="text-center list-group-item"><h2>Pas de tags pour {{ object.name }}</h2></li>
                        {% endif%}
                    </div>

                </div>
            <div class="col-sm-2" "></div>
        </div>

        </section>
        

{% endblock %}

