{% extends "base2.html" %}

{% block title %}My amazing blog{% endblock %}

{% block conxtent %}
<h1>eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</h1>
<p>dddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddddddddddddddddddddd
    ddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd
    dddddddddddddddddddddddddddddddddddddddddddddd

</p>
{% endblock %}



